<!DOCTYPE html>
<html>
<head>
    <title><% if(title){ %><%= title %><% }else{ %><%= config.name %><% } %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/admin.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/js/duck.js"></script>
    <script type="text/javascript">
        duckJS.config({
            alias : {
                'jquery' : 'jquery-1.9.1.min.js',
                'bootstrap' : 'bootstrap.min.js',
                'alertify' : 'alertify.min.js',
                'alertify-core' : '/css/alertify/alertify.core.css',
                'alertify-default' : '/css/alertify/alertify.default.css',
                'common' : 'common.js'
            }
        });

        duckJS.use(['alertify-core', 'alertify-default']);
        duckJS.use('bootstrap');
    </script>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="#">hello, <%= locals.current_user %></a>
        <ul class="nav">
            <li class="active"><a href="#peizhi">吐槽管理</a></li>
            <li><a href="#geshi">分类管理</a></li>
            <li><a href="#xuanran">用户管理</a></li>
            <li><a href="#xuanran">全局配置</a></li>
            <li><a href="#youjian">工 具</a></li>
        </ul>
    </div>
</div>
<div id="wrapper" class="content">
    1212
</div>
<div class="content fn-pb20">
    <p>&copy; <%= config.name %></p>
</div>
</body>
</html>