body{
    padding-top: 60px;
}
li{
    list-style: none;
}
.fn-mt10{
    margin-top: 10px;
}
.fn-mt20{
    margin-top: 20px;
}
.fn-ml10{
    margin-left: 10px;
}

.notice-normal{
    background: #bbf893;
}
.notice-error{
    background: #f8d7bf;
}
.msg-inner{
    width:300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 5px;
}
.msg-inner ul{
    margin-top: 5px;
}
.msg-inner ul li{
    color:#e9322d;
    list-style: square;
    line-height: 26px;
}
.container{
    width: 950px;
}
.brand i{
    color: #bbb;
    font-size: 11px;
    line-height: 12px;
    padding-left: 10px;
}
.navbar-dec{
    color: #999;
    margin-left: 20px;
}
/*.navbar-inverse .navbar-inner{
    background-image: -moz-linear-gradient(center top , #444, #222);
}*/
.widget-list .widget-head{
    border-bottom: 1px solid #ddd;
    padding: 8px 0px;
}
.widget-list ul{
    margin-left: 0px;
}
.widget-list li{

}