<div class="container">
    <div class="row">
        <div class="span8">
            <h3>上传真像</h3>
            <hr>
            <form name="avatarForm" enctype="multipart/form-data" target="hideUpload" class="form-horizontal fn-mt20" method="post">
                <div class="control-group">
                    <label for="J-headPic" class="control-label">URL：</label>
                    <div class="controls">
                        <input type="file" id="J-headPic" name="headPic">
                        <div class=""><i class="icon-exclamation-sign"></i>只接受.gif | .jpg | .png格式。</div>
                    </div>
                </div>
                <div class="form-actions">
                    <input id="J-save-avatar" class="btn btn-large btn-primary" type="submit" value="保 存">
                </div>
            </form>
        </div>
        <%- partial('sidebar', {userInfo: userInfo, users: users, usersByCount: usersByCount}) %>
    </div>
</div>
<iframe name="hideUpload" src="" class="hide"></iframe>
<script type="text/javascript">
    D.use(['jquery', 'common'], function($, common){
        //$(function(){
        //common.account.init();
        //});
    });
</script>