<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/base.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <div class="row text-center" style="font-size: 20px;"><%= desc %>&nbsp;<a href="/">返回首页</a>
    </div>
</div>
</body>
</html>